%body
  .main-messages
    .main-messages-header
      .main-leftbox
        .group-name-chat 
          = @group.name
        %ul.member-name 
          %li member :
          - @group.users.each do |user|
            %li.user-name
              = user.name
      = link_to edit_group_path(@group) do
        .edit-btn Edit
    .MessageField
      = render @messages
    .main-messages-footer
      .Form-message
        = form_with model: [@group, @message], html: {class: "Form"}, local: true, id: "Form" do |f|
          .Form
            = f.text_field :content, class:'Form-textbox', placeholder: 'type a message', id:'Form-textbox'
            = f.label :image, class: 'Form-pict' do
              = icon('far', 'image', class: 'Form-pict__pic')
              = f.file_field :image, class: 'Form-pict__Hidden'
          = f.submit 'Send', class:'Form-btn'